*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: aliceblue;
    width:520px;
    max-width: 80%;
    padding:30px;
    position: relative;
    border-bottom-right-radius: 150px;
}
.input-container span{
    font-size: 25px;
}

input{
    width:100px;
    height:100px;
    font-size: 22px;
    padding:10px;
    border-radius: 5px;
    border:2px solid white;
    border:none;
}

input:focus{
    border:2px solid purple;
}

small{
    color:red;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}


.submit-button{
    margin-bottom:20px;
    width:100px;
    height:40px;
    font-size: 25px;
    color:white;
    position: absolute;
    right:10px;
    top:95px;
    border-radius: 30px;
    cursor: pointer;
    border:none;
    background-color: purple;
}

.output span{
    font-size: 90px;
    color:purple;
    margin-right:10px;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-left:20px;
    margin-bottom:20px;
}

.input-container input{
    height:40px;
    width:100px;
}

.input-flex{
    display: flex;
}